
{% include 'partials/head.html' %}

<div class="jumbotron">
    <h1>Hello!</h1>
    <form action="/go" method="POST">
      <h4>Type in an address</h4>

      <input name='address' id="address_field" value="">
      <br>
      <div><small>
            e.g.
               <a href="/address/Stanford+University">Stanford University</a>;
               <a href="/address/Rodeo+Drive,+Los+Angeles">Rodeo Drive, Los Angeles</a>;
               <a href="/address/Tallinn,+Estonia">Tallinn, Estonia</a>;
               <a href="/address/Hong+Kong">Hong Kong</a>.
            </small>
        </div>
      <br>

      <input type="submit" value="GO!" id="submit_button">
    </form>


</div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <p class="alert alert-warning">
        <strong>Note:</strong> If there's an error in processing your address, it's probably because I hit a rate-limit or one of the APIs is down. Here's <a href="/test/Stanford">what the app results look like ideally</a>.
      </p>
      </div>
    </div>
  </div>



{% include 'partials/foot.html' %}
