
{% include 'partials/head.html' %}

<div class="jumbotron">
    <h1>Hello!</h1>
    <form action="/go" method="POST">
      <h4>Type in an address</h4>

      <input name='address' id="address_field" value="">
      <br>
      <div><small>
            e.g.
               <a href="/address/Stanford+University">Stanford University</a>;
               <a href="/address/Rodeo+Drive,+Los+Angeles">Rodeo Drive, Los Angeles</a>;
               <a href="/address/Tallinn,+Estonia">Tallinn, Estonia</a>;
               <a href="/address/Hong+Kong">Hong Kong</a>.
            </small>
        </div>
      <br>

      <input type="submit" value="GO!" id="submit_button">
    </form>


</div>

  <div class="container">


    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
      <p class="well"><strong>What happen?</strong> This draft app, a quickie modification of <a href="http://first-news-app.readthedocs.org/en/latest/">Ben Welsh's First News App</a>, takes a given address, retrieves its coordinates from the <a href="https://developers.google.com/maps/documentation/geocoding/">Google Maps Geocoder</a>, then passes those coordinates to <a href="http://www.wunderground.com/weather/api/d/docs?d=index&MR=1">Weather Underground</a> and <a href="https://instagram.com/developer/endpoints/media/">Instagram</a> to find local weather and nearby interesting photos, respectively. It also makes a generic call to <a href="http://earthquake.usgs.gov/earthquakes/feed/v1.0/geojson.php">USGS for "Significant Earthquakes" worldwide in the past 30 days.</a></p>
      <p>See <a href="https://github.com/dannguyen/flask-firerain">the code on Github</a>. This is my first Flask app and was meant as a quick demo and should not be used as an example of best practices or any practices.</p>


      <p class="alert alert-warning">
        <strong>Note:</strong> If there's an error in processing your address, it's probably because I hit a rate-limit or one of the APIs is down. Here's <a href="/test/Stanford">what the app results look like ideally</a>.
      </p>
      </div>
    </div>
  </div>



{% include 'partials/foot.html' %}
